// brands_component
.bagsLuggages_component {
  margin-top: 30px;
  .bagsLuggages_top {
    h2{
      color: $black;
      font-weight: 700;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    div {
      .input-group {
        button {
          color: #fff;
          border: none;
          background: #202a2f;
        }
        input {
          border: 1px solid #202a2f;
        }
      }
      button {
        height: 40px;
        margin-left: 20px;
        width: 120px;
      }
    }
  }
  .bagsLuggagesInner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    .bagsLuggagesItems {
      background: #fff;
      height: 380px;
      box-shadow: 1px 0px 5px $grayLight;
      border-radius: 5px;
      .images {
        text-align: center;
        height: 270px;
        padding: 20px 20px;
        transition: 1s;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &:hover .images {
        transform: scale(1.1);
      }
      .bagsLuggagesContent {
        text-align: center;
        padding: 0 20px;
        h4 {
          font-size: 18px;
          color: $black;
        }
        p{
          color: $black;

        }
      }
    }
  }
}

// responsive
@media screen and (max-width: 1024px) {
  .bagsLuggages_component {
    .bagsLuggagesInner {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}
@media screen and (max-width: 425px) {
  .bagsLuggages_component {
    .bagsLuggages_top {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .bagsLuggagesInner {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      .bagsLuggagesItems {
        height: 285px !important;
        .images {
          height: 190px !important;
          padding: 0 35px !important;
        }
        .bagsLuggagesContent {
          padding: 0 12px;
      }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .bagsLuggages_component {
    .bagsLuggagesInner {
      .bagsLuggagesItems {
        height: 300px !important;
        .images {
          padding: 0 10px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .bagsLuggages_component {
    .bagsLuggagesInner {
      .bagsLuggagesItems {
        height: 300px !important;
        .images {
          height: 165px !important;
        }
        .bagsLuggagesContent{
          padding: 0 5px !important;

        }
      }
    }
  }
}