// discountInner
.discount_Component{
    margin-top:50px;
    .discountInner {
        background: $white;
        padding: 15px;
        box-shadow: 1px 0px 5px $grayLight;
        border-radius: 2px;
        .discountContent {
            button {
                color: $white;
                border: none;
                background: #4169E1;
                border-radius: 30px;
                font-size: 15px;
                padding: 3px 18px;
            }
             p {
                color: gray;
                font-size: 15px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            h4 {
                font-size: 17px;
                color: #222;
                span {
                    color: gray;
                    text-decoration: line-through;
                }
            }
        }
    }
}
